{% extends 'base.html.twig' %}

{% block title %}Nouvel Ingredient{% endblock %}

{% block body %}
    <h1>Ajout nouvel ingrédient</h1>

    {{ include('ingredient/_form.html.twig') }}

    <!--<a href="{{ path('ingredient_index') }}">back to list</a>-->
{% endblock %}
