.nav-bar { /* ul */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6px 0 6px 1% ;
    margin: 0 5px 5px 5px;
    list-style-type: none;
    / background-color: rgb(233, 233, 233); /
}

.nav-link { /* ul li */
    margin: 0 8px 8px 0;
    padding: 5px 0 3px 0;
    border: solid black 1px;
    border-radius: 2px;
    width: max-content;
    text-decoration : none;
    box-shadow: -2px -2px 5px 0px black;
    background-color: rgba(160, 224, 176, 0.144);
}

.nav-link a{ /* ul li a */
    text-decoration : none;
    color: blue;
    padding: 3px;
    font-weight: 600;
}