{% extends 'base.html.twig' %}

{% block title %}Nouvelle Pizza{% endblock %}

{% block body %}
    <h1>Créer une nouvelle Pizza</h1>

    {{ include('pizza/_form.html.twig') }}

    <!--<a href="{{ path('pizza_index') }}">Liste pizzas</a>-->
{% endblock %}
